.cards {
  width: 100%;
  padding-top: 50px;
  margin: 0 auto;
}

.cards__h2 {
  display: none;
}

.cards__container {
  width: 100%;
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 18px;
  grid-row-gap: 21px;
}

.cards__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 282px;
  height: 361px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.cards__card_bin {
  position: absolute;
  width: 18px;
  height: 19.3px;
  background-image: url("../images/trashWhite.png");  
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  top: 18px;
  right: 15px;
}

.cards__card_bin:hover {
  background-image: url("../images/trashGrey.png");
}

.cards__card_image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.cards__card_text {
  width: 100%;
  height: calc(361px - 282px);
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cards__card_name {
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin-left: 21px;
  width: 246px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cards__card_heart {
  width: 20.76px;
  height: 18.13px;
  background-image: url("../images/heart.svg");  
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 22.24px;
  cursor: pointer;
}

.cards__card_heart:hover {
  background-image: url("../images/heart2.svg");  
}

.cards__card_active {
  background-image: url("../../../../images/Union.png");  
}

@media screen and (min-width: 320px) and (max-width: 750px) {
  .cards__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }

  .cards__card_heart {
    margin-right: 15px;
  }
}