.profile__edit {
  width: 24px;
  min-width: 24px;
  height: 24px;
  background-color: #000000;
  background-image: url('../images/edit.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.profile__edit:hover {
  opacity: .4;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .profile__edit {
    width: 18px;
    height: 18px;
  }

  .profile__edit:hover {
    opacity: 1;
    cursor: default;
  }
}