.profile__subtitle {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  flex-basis: 100%;
  max-width: 318px;
  white-space: nowrap;
  overflow-x: auto;
}

@media screen and (min-width: 320px) and (max-width: 750px) {
  .profile__subtitle{
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
    margin-bottom: 36px;
  }
}
