.profile__add {
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  background-color: #000000;
  background-image: url('../../../images/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0;
  flex: 0 0 auto;
}

.profile__add:hover {
  opacity: .4;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 430px) {
  .profile__add {
    max-width: 282px;
    height: 50px;
    width: 100%;
  }

  .profile__add:hover {
    opacity: 1;
    cursor: default;
  }
}