.profile__info{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 755px){
  .profile__info{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}