.footer {
  max-width: 880px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
  padding-top: 66px;
  padding-bottom: 60px;
}

@media screen and (min-width: 320px) and (max-width: 750px) {
  .footer {
    width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
    line-height: 16.94px;
  }
}